In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("./data/olympics.csv", skiprows=4)

In [4]:
data.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [9]:
data.Edition.value_counts()

2008    2042
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1912     885
1956     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: Edition, dtype: int64

In [11]:
data["Gender"].value_counts(ascending=True)

Women     7495
Men      21721
Name: Gender, dtype: int64

Remember that value_counts() need a series to be taken in, not dataframe. So it has to be only one column that is being counted

Now sort values also takes series

But sort values also allows dataframe

In [13]:
ath = data.Athlete.sort_values()
ath

651                 AABYE, Edgar
2849       AALTONEN, Arvo Ossian
2852       AALTONEN, Arvo Ossian
7716    AALTONEN, Paavo Johannes
7730    AALTONEN, Paavo Johannes
                  ...
603                   ÖSTMO, Ole
608                   ÖSTMO, Ole
621                   ÖSTMO, Ole
596                   ÖSTMO, Ole
8051           ÖSTRAND, Per-Olof
Name: Athlete, Length: 29216, dtype: object

In [14]:
data.sort_values(by=["Edition", "Athlete"])

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
110,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,"team, parallel bars",M,Silver
111,Athens,1896,Gymnastics,Artistic G.,"ATHANASOPOULOS, Spyros",GRE,Men,"team, parallel bars",M,Silver
48,Athens,1896,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,individual road race,M,Bronze
...,...,...,...,...,...,...,...,...,...,...
28095,Beijing,2008,Equestrian,Dressage,"ZU-SAYN WITTGENSTEIN, Nathalie",DEN,Women,team,X,Bronze
28819,Beijing,2008,Sailing,Sailing,"ZUBARI, Shahar",ISR,Men,RS:X - Windsurfer,M,Bronze
28977,Beijing,2008,Taekwondo,Taekwondo,"ZUBCIC, Martina",CRO,Women,49 - 57 kg,W,Bronze
28387,Beijing,2008,Gymnastics,Rhythmic G.,"ZUEVA, Natalia",RUS,Women,group competition,W,Gold
29007,Beijing,2008,Tennis,Tennis,"ZVONAREVA, Vera",RUS,Women,singles,W,Bronze

### Boolean indexing

boolean vectors can be used to filter data. Multiple conditions must be grouped using brackets

In [15]:
data.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [17]:
data[data.Medal == 'Gold']

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold

In [18]:
data[data.NOC == "EST"]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
3093,Antwerp,1920,Athletics,Athletics,"LOSSMANN, Jüri",EST,Men,marathon,M,Silver
4076,Antwerp,1920,Weightlifting,Weightlifting,"SCHMIDT, Alfred",EST,Men,"- 60kg, one-two hand 3 events (featherweight)",M,Silver
4081,Antwerp,1920,Weightlifting,Weightlifting,"NEULAND, Alfred",EST,Men,"60 - 67.5kg, one-two hand 3 events (lightweight)",M,Gold
4324,Paris,1924,Athletics,Athletics,"KLUMBERG-KOLMPERE, Alexander",EST,Men,decathlon,M,Bronze
4953,Paris,1924,Weightlifting,Weightlifting,"TAMMER, Harald",EST,Men,"+ 82.5kg, one-two hand 5 events (heavyweight)",M,Bronze
4959,Paris,1924,Weightlifting,Weightlifting,"KIKKAS, Jaan",EST,Men,"67.5 - 75kg, one-two hand 5 events (middleweight)",M,Bronze
4961,Paris,1924,Weightlifting,Weightlifting,"NEULAND, Alfred",EST,Men,"67.5 - 75kg, one-two hand 5 events (middleweight)",M,Silver
4987,Paris,1924,Wrestling,Wrestling Gre-R,"PÜTSEP, Eduard",EST,Men,- 58kg (bantamweight),M,Gold
4998,Paris,1924,Wrestling,Wrestling Gre-R,"STEINBERG, Roman",EST,Men,67.5 - 75kg (middleweight),M,Bronze
5633,Amsterdam,1928,Sailing,Sailing,"FAEHLMANN, A.",EST,Men,6m,X,Bronze
5634,Amsterdam,1928,Sailing,Sailing,"FAEHLMANN, G.",EST,Men,6m,X,Bronze
5635,Amsterdam,1928,Sailing,Sailing,"VOGDT, E.",EST,Men,6m,X,Bronze
5636,Amsterdam,1928,Sailing,Sailing,"VON WIREN, W.",EST,Men,6m,X,Bronze
5637,Amsterdam,1928,Sailing,Sailing,"WEKSCHIN, N.",EST,Men,6m,X,Bronze
5665,Amsterdam,1928,Weightlifting,Weightlifting,"LUHAÄÄR, Arnold",EST,Men,"+ 82.5kg, total (heavyweight)",M,Silver
5685,Amsterdam,1928,Wrestling,Wrestling Free.,"KAPP, Osvald",EST,Men,61 - 66kg (lightweight),M,Gold
5703,Amsterdam,1928,Wrestling,Wrestling Gre-R,"WALI, W.",EST,Men,58 - 60kg (featherweight),M,Gold
5708,Amsterdam,1928,Wrestling,Wrestling Gre-R,"KUSNETS, Albert",EST,Men,67.5 - 75kg (middleweight),M,Bronze
6585,Berlin,1936,Boxing,Boxing,"STEPULOV, Nikolai",EST,Men,57.15 - 61.24kg (lightweight),M,Silver
7150,Berlin,1936,Weightlifting,Weightlifting,"LUHAÄÄR, Arnold",EST,Men,"+ 82.5kg, total (heavyweight)",M,Bronze
7166,Berlin,1936,Wrestling,Wrestling Free.,"PALUSALU, Kristjan",EST,Men,+ 87kg (heavyweight),M,Gold
7182,Berlin,1936,Wrestling,Wrestling Free.,"NEO, Ago (August)",EST,Men,79 - 87kg (light-heavyweight),M,Silver
7187,Berlin,1936,Wrestling,Wrestling Gre-R,"PALUSALU, Kristjan",EST,Men,+ 87kg (super heavyweight),M,Gold
7192,Berlin,1936,Wrestling,Wrestling Gre-R,"VÄLI, Voldemar",EST,Men,61 - 66kg (lightweight),M,Bronze
7201,Berlin,1936,Wrestling,Wrestling Gre-R,"NEO, Ago (August)",EST,Men,79 - 87kg (light-heavyweight),M,Bronze
20346,Barcelona,1992,Cycling,Cycling Track,"SALUMAE, Erika",EST,Women,sprint,W,Gold
21003,Barcelona,1992,Sailing,Sailing,"TONISTE, Tonu",EST,Men,470 - Two Person Dinghy,M,Bronze
21004,Barcelona,1992,Sailing,Sailing,"TONISTE, Toomas",EST,Men,470 - Two Person Dinghy,M,Bronze
23638,Sydney,2000,Athletics,Athletics,"NOOL, Erki",EST,Men,decathlon,M,Gold
24585,Sydney,2000,Judo,Judo,"PERTELSON, Indrek",EST,Men,+ 100kg (heavyweight),M,Bronze
24621,Sydney,2000,Judo,Judo,"BUDOLIN, Aleksei",EST,Men,73 - 81kg (half-middleweight),M,Bronze
25658,Athens,2004,Athletics,Athletics,"TAMMERT, Aleksander",EST,Men,discus throw,M,Bronze
26580,Athens,2004,Judo,Judo,"PERTELSON, Indrek",EST,Men,+ 100kg (heavyweight),M,Bronze
26774,Athens,2004,Rowing,Rowing,"JAANSON, Jueri",EST,Men,single sculls (1x),M,Silver
27666,Beijing,2008,Athletics,Athletics,"KANTER, Gerd",EST,Men,discus throw,M,Gold
28658,Beijing,2008,Rowing,Rowing,"ENDREKSON, Tonu",EST,Men,double sculls (2x),M,Silver
28659,Beijing,2008,Rowing,Rowing,"JAANSON, Juri",EST,Men,double sculls (2x),M,Silver

In [19]:
data[(data.Gender == 'Women') & (data.Medal == "Gold")]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
417,Paris,1900,Golf,Golf,"ABBOTT, Margaret Ives",USA,Women,individual,W,Gold
641,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,mixed doubles,X,Gold
649,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,singles,W,Gold
710,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double columbia round (50y - 40y - 30y),W,Gold
713,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double national round (60y - 50y),W,Gold
...,...,...,...,...,...,...,...,...,...,...
29134,Beijing,2008,Weightlifting,Weightlifting,"CAO, Lei",CHN,Women,75kg,W,Gold
29147,Beijing,2008,Wrestling,Wrestling Free.,"HUYNH, Carol",CAN,Women,- 48kg,W,Gold
29155,Beijing,2008,Wrestling,Wrestling Free.,"YOSHIDA, Saori",JPN,Women,48 - 55kg,W,Gold
29163,Beijing,2008,Wrestling,Wrestling Free.,"ICHO, Kaori",JPN,Women,55 - 63kg,W,Gold
29171,Beijing,2008,Wrestling,Wrestling Free.,"WANG, Jiao",CHN,Women,63 - 72kg,W,Gold

#### String handling

In [12]:
data[data.Athlete.str.contains('Florence')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
1843,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,individual,W,Gold
1848,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,pairs,X,Bronze
4173,Paris,1924,Aquatics,Swimming,"BARKER, Florence",GBR,Women,4x100m freestyle relay,W,Silver
8162,Helsinki,1952,Athletics,Athletics,"FOULDS-PAUL, June Florence",GBR,Women,4x100m relay,W,Bronze
9060,Melbourne / Stockholm,1956,Athletics,Athletics,"FOULDS-PAUL, June Florence",GBR,Women,4x100m relay,W,Silver
10849,Tokyo,1964,Athletics,Athletics,"AMOORE-POLLOCK, Judith Florence",AUS,Women,400m,W,Bronze
16817,Los Angeles,1984,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Silver
18287,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,100m,W,Gold
18305,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Gold
18347,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x100m relay,W,Gold
18374,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x400m relay,W,Silver

Challenges

In [15]:
data[(data.Athlete ==  "OWENS, Jesse")]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6439,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,200m,M,Gold
6456,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,4x100m relay,M,Gold
6523,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,long jump,M,Gold

In [29]:
oo = data[(data.Medal == "Gold") & (data.Gender == "Men")]

In [30]:
oo

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold

In [38]:
oo = oo[(oo.Event == "singles") & (oo.Sport == "Badminton")]
oo

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold

In [39]:
oo.NOC.value_counts()

INA    2
CHN    2
DEN    1
Name: NOC, dtype: int64

In [40]:
oo.sort_values(by= ["Athlete"])

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold